*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans',sans-serif;
}

body {
    background: var(--background-image);
    transition: background 0.8s, color 0.8s;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #000;
}

:root{
    --background-image: url('https://c.wallhere.com/photos/a7/e2/Firewatch_video_game_art_minimalism_simple-1762747.jpg!d');
    --text-color: #606163;
    --title-color: #000;
}

.dark-theme {
    --background-image: url('https://i.redd.it/oor2svn052l61.png');
    --text-color: #fff;
    --title-color: #fff;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

a:hover{
    color: orange;
}
/* HEADER */
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}

.toggle-btn{
    background: #606163;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.toggle-btn-v2{
    background: #606163;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 80px;
    margin-top: 10px;
}

.toggle-btn-v2 img{
    width: 25px;
    margin-left: 10px;
}

.toggle-btn img{
    width: 25px;
    margin-left: 10px;
}

/* MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 180px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */
.hero{
    margin-left: 8%;
    margin-top: 15%;
    flex-direction: column;
    color: white; 
}

.hero h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero .icon-box{
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}

.hero .icon-box i{
    border-radius: 50%;
    border: 2px solid white;
    padding: 6px;
    font-size: 25px;
    cursor: pointer;
    transition: .2s;
}

.hero .icon-box i:hover{
    background-color: white;
}

/* IMG */
.img-box {
    object-fit: cover;
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 1%;
    right: 5%;
}

.img-box img{
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 10px 10px 50px white;
    background-color: orange;
    width: 400px;
    height: 400px;
    position: absolute;
}

/* RESPONSIVE DESIGN */
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn,.toggle-btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
   .dropdown_menu{
    left: 2rem;
    width: unset;
   }
}

@media(max-width: 1660px){
    .img-box{
        display: none;
    }
}
