*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
    
}

.navbar{
    background-color: #333;
    padding: 20px;
}

nav{
   flex: 1;
   text-align: left;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 60px;
    margin-left: 3rem;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Noto Serif Thai', serif;

}

.team-section{
    width: 100%;
    background-color: #535252;
    background-size: cover;
    
}

.team-section .container{
    width: 90%;
    margin: auto;
    background-color: rgb(73, 73, 73);
    background-size: cover;
}

.team-section .container .row{
    width: 30%;
    margin: auto;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

.team-section .container .row .title{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0rem;
    padding-bottom: 0px;
}

.team-section .container .row .title h1 {
    font-size: 35px ;
    font-family: serif;
    color:#ffffff;
    
}

.team-section .container .row .title p {
    font-size: 18px;
    font-family: 'Noto Serif Thai', serif; 
    color:#a3a3a3; 
    padding-bottom: 0px;
   
}

.team-section .container .team-card{
    width:100%;
    display: flex ;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.team-section .container .team-card .card {
    width: 100%;
    background-color:#e9e8e8;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
}

.team-section .container .team-card .card .image-section img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px solid #fff;
}

.team-section .container .team-card .card .content {
    width: 100%;
    text-align: center;
    font-family: 'Noto Serif Thai', serif;
}

.team-section .container .team-card .card .content h3{
    font-size: 27px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: #1f1f1f;
    font-family: 'Noto Serif Thai', serif;
}

.team-section .container .team-card .card .content h4{
    font-size: 17px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: #6e6e6e; 
    font-family: 'Noto Serif Thai', serif; 
}

.team-section .container .team-card .card .content p{
    font-size: 15px;
    margin: 16px 0px;
    line-height: 1.5;
    color: #6c6c6c;    
    text-align: left;
    font-family: 'Noto Serif Thai', serif;
}

@media screen and (max-width: 900px){
    .team-section.container .team-card .card{
        grid-template-columns: repeat(2, 1fr);      
    }
}

@media screen and (max-width: 768px){
    .team-section.container .team-card .card{
        grid-template-columns: 1fr;      
    }
}
